/* Font */

@import url(https://fonts.googleapis.com/css?family=Josefin+Slab);

body {
    font-family: 'Josefin Slab', 'Courier New', monospace;
    font-size: 16px;
    color: #000000;
    -webkit-font-smoothing: antialiased;
}

/* Hyperlinks in black */

a:link {
    color: Black;
}

a:visited {
    color: Black;
}

a:hover {
    color: Red;
}

/*a:active {
    color: Black;
}*/

/* Margins */

.mt {
	margin-top: 40px;
}

.mb {
	margin-bottom: 20px;
}

/* Text and image alignment */

.centered {
	text-align: center
}

.centre-image{
  margin-left: auto;
  margin-right: auto;
}

/* Put dt and dd on the same line */

dl {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0
}
dt {
  float: left;
  width: 30%;
  /* adjust the width; make sure the total of both is 100% */
  padding: 0;
  margin: 0
}
dd {
  float: left;
  width: 70%;
  /* adjust the width; make sure the total of both is 100% */
  color: Red;
  padding: 0;
  margin: 0;
  margin-bottom: 5px
}
