---
layout: page
title: Recipes
---

<div id="home">
  <h1>Recipes</h1>

  <ul>
  {% for tags in page.tags %}
    <li>{{ tags }}</li>
  {% endfor %}
  </ul>



  {% capture posts %}
  {% for post in site.posts %}
    |{{ post.title }}#{{ post.url }}
  {% endfor %}
  {% endcapture %}
  {% assign sortedposts = posts | split: '|' | sort %}
  {% for post in sortedposts %}
      {% assign postitems = post | split: '#' %}
      <a href={{ postitems[1] }}">{{ postitems[0] }}</a><br>
  {% endfor %}

  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

</div>
