<footer>
    <hr>
    <p>
        <strong>About the author</strong>:
        James Routley is a backend developer at 
        <a href="https://monzo.com">Monzo</a>.
        For updates, follow him on 
        <a href="https://twitter.com/james_routley">Twitter</a> or 
        <a href="https://github.com/jamesroutley">GitHub</a>.
    </p>
    <p>
	If you find what I write about interesting, you should consider applying to the 
	<a href="https://www.recurse.com/">Recurse Centre</a>. 
    </p>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blog.html">More posts</a></li>
        <li><a href="/feed.xml">Subscribe with rss</a></li>
    </ul>
</footer>
