/*
 * Author: Carlos Alvarez
 * URL: http://Alvarez.is
 *
 * Project Name: NYC Design
 * Version: 1.0
 * Date: 04-20-2014
 * URL:
 */


/* ==========================================================================
   Base Styles, Bootstrap Modifications & Fonts Import
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Fira+Sans:300);
@import url(http://fonts.googleapis.com/css?family=Quicksand);


::-moz-selection {
    background: #f2c2c9;
    color: #a4003a;
    text-shadow: none;
}

::selection {
    background: #16a085;
    color: #a4003a;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.centered {
	text-align: center
}

.centre-image{
  margin-left: auto;
  margin-right: auto;
}

.mt {
	margin-top: 80px;
}

.mb {
	margin-bottom: 200px;
}

.mbnew {
  margin-bottom: 700px;

}

.mbeighty {
  margin-bottom:80px;
}

/* ==========================================================================
   General styles
   ========================================================================== */


body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
    color: #4a4a4a;
}


.navbar-brand {
	font-weight: 700;
}

.navbar-default .navbar-brand {
	color: #1abc9c;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #1abc9c;
	background-color: transparent;
	border-bottom: 2px solid #1abc9c
}

.navbar-default .navbar-nav > li > a {
	color: #1abc9c;
}

.fa {
  color: #1abc9c;
}

hr {
  width: 100px;
  color: #1abc9c;
  align: center;
}

/* ==========================================================================
   Wrap Sections
   ========================================================================== */

/* header */

#headerwrap {
	background: url(../img/cover.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 850px;
	width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
	color:#ffffff;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: bold;
}

#headerwrap h4 {
	font-weight: 400;
	color: #ffffff
}
/* header */



/* Services  */
.services{
	background: #F7F7F7;
}
/* Services  */

/* Portfolio  */

.portfolio-work-grid{
	padding:0;
}
.portfolio-work-grid{
	position:relative;
}
.portfolio-work-grid-pic img{
	width:100%;
}
.portfolio-work-grid-pic{
	position:relative;
}
.portfolio-work-grid-caption{
	display: none;
	position: absolute;
	top: 0;
	background: #1abc9c;
  opacity: 0.8;
	text-align: center;
	padding: 6em 2em 0em 2em;
	bottom: 0;
}
.portfolio-work-grid-caption h4{
	font-weight:700;
	font-size:1.5em;
	text-transform:uppercase;
	color:#FFF;
}
.portfolio-work-grid:hover div.portfolio-work-grid-caption{
	display:block;
}
.portfolio-work-grid-caption p{
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.7em;
	color: #FFF;
}

/* Portfolio  */

/* Footer (Contact section)  */
#footwrap {
	background: #2f2f2f;
	padding-top: 100px;
	padding-bottom: 50px;
}

#footwrap p {
	color: white;
}

#footwrap h2 {
	color: white;
}

#footwrap i {
	padding-right: 8px;
	color: #1abc9c;
}
/* Footer (Contact section)  */

/* Copyright Bar */

#c {
	background: #222222;
	padding-top: 30px;
  padding-bottom: 15px;
	text-align: right;
}

#c p {
	color: white
}

/* Copyright Bar */


/* Portfolio title wrap */


#portfoliowrap p {
  font-family: 'Quicksand';
  font-size: 20px;

}

/* Portfolio title wrap */
