{{ define "main" }} {{ .Content }}

<a href="posts">
  <h2>Posts</h2>
</a>
<ul>
  {{ range first 10 (where .Site.RegularPages "Section" "posts") }}
  <li>
    {{ .Date.Format "2006-01-02" }}: <a href="{{ .Permalink }}">{{ .Title }}</a>
  </li>
  {{ end }}
  <li><a href="posts">more</a></li>
</ul>

<a href="/images">
  <h2>Images</h2>
</a>

<a href="/books">
  <h2>Books</h2>
</a>
<ul>
  {{ range first 5 .Site.Data.books.books }}
  <li>
    {{ dateFormat "Jan 2006" .date }}: {{ .title }} - <i>{{ .author }}</i>
  </li>
  {{ end }}
  <li><a href="books">more</a></li>
</ul>

{{ end }}
